.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid;
  padding: 10px;
}

.logo {
  width: 100px;
}

.nav-items {
  width: 30%;
  ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    li {
      font-size: 20px;
    }
  }
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}
.res-card {
  width: 250px;
  border: 1px solid;
  margin-bottom: 30px;
  img {
    width: 250px;
  }
  &:hover {
    border: 1px solid red;
    cursor: pointer;
  }
}

.filter-btn {
  cursor: pointer;
  padding: 6px;
  margin: 10px;
}
